/*Reset*/
*,body,li,a,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
/*Reset*/

/*Font*/
p {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 400;
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    font-weight: 700;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
    font-weight: 700;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 500;
}
strong {
    font-weight: 900;
}
/*Font*/

body {
    display: flex;
    justify-content: center;
    background: #125358;
}
.cadre {
    width: 1440px;
    margin: 50px;
    height: fit-content;
    background: #ede6e9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*nav*/
nav {
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 70px;
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}
nav h3 {
    padding: 5px;
}
/*nav*/

/*accueil*/
.accueil {
    position: relative;
    width: 100%;
    height: 650px;
    padding: 0 50px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fond {
    position: absolute;
    opacity: 0%;
}
/*parallax*/
.parallax {
    position: absolute;
    width: 1340px;
}
.photo {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.simpleParallax {
    width: 100%;
    height: 650px;
    position: absolute;
}
.photo img {
    position: absolute;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.ciel, .fumer, .vert2 {
    width: 100%;
}
.soleil {
    width: 80%;
    height: auto;
    top: 90px;
    left: 130px;
}
.oiseaux {
    width: 85%;
    height: auto;
    top: 50px;
    left: 60px;
}
.oiseaux2 {
    width: 85%;
    height: auto;
    top: 50px;
    left: 80px;
}
.montagne1 {
    width: 70%;
    height: auto;
    top: 80px;
    left: 130px;
}
.montagne2 {
    width: 80%;
    height: auto;
    top: 80px;
    left: 120px;
}
.vert {
    width: 78%;
    height: auto;
    top: 70px;
    left: 158px; 
}
/*parallax*/

.moi {
    position: absolute;
    
    left: 0;
    width: 1440px;
    height: 650px;
    
}

.accueil-txt {
    width: 100%;
    padding: 0 50px;
    text-align: center;
}
.txt1 {
    position: relative;
    top: 150px;
    left: -200px;
}
.txt2 {
    position: relative;
    top: 220px;
    left: 0;
}
.txt3 {
    position: relative;
    top: 220px;
    left: 80px;
}
.accueil-dispo {
    position: relative;
    width: 370px;
    padding-left: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 20px;
}
.accueil-dispo h2 {
    margin-bottom: 10px;
}
.accueil-dispo p {
    font-weight: 700;
}
/*accueil*/

/*cta*/
.cta {
    background-color: #2F8D5F;
    width: 100%;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.carte {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 10px;
    width: 581px;
    height: 215px;
    display: flex;
    justify-content: space-between;
}
.titre-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.carte-logo {
    background-color: #FFBBAC;
    border-radius: 5px;
    width: 340px;
    height: 62px;
    padding: 0 45px;
    margin: 0 0 10px 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carte-titre h2 {
    margin: 50px 0 0 0;
}
.carte-titre p {
    font-size: 24px;
    font-weight: 500;
    margin: 4px 0;
}
/*cta*/

/*presentation*/
.presentation {
    padding: 0 50px;
    margin-bottom: 100px;
    text-align: center;
    width: 1000px;
}
.presentation h2 {
    margin-bottom: 50px;
}
.presentation p {
    line-height: 1.5em;
    margin-bottom: 20px;
}
/*presentation*/

/*competences*/
.competences {
    padding: 0 50px;
    margin-bottom: 150px;
    text-align: center;
}
.competences-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
}
.competences h2 {
    margin-bottom: 50px;
}
.list-comp {
    height: 170px;
    display: flex;
}
.liste {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.liste h3 {
    text-align: end;
}
.competences-bar {
    margin-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.competences-bar2 {
    width: 200px;
    height: 15px;
    border: solid 1px #3f9867;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    background: white;
}
.competences-bar-html div {
    width: 90%;
    background: #3f9867;
}
.competences-bar-css div {
    width: 90%;
    background: #3f9867;
}
.competences-bar-git div {
    width: 50%;
    background: #3f9867;
}
.competences-bar-js div {
    width: 10%;
    background: #3f9867;
}
.competences-bar-ps div {
    width: 85%;
    background: #3f9867;
}
/*-animation logo*/
.competences-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.comp-logo-html {
    position: absolute;
    animation-name: rotation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.comp-logo-css {
    position: absolute;
    animation-name: rotation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}
.comp-logo-js {
    position: absolute;
    animation-name: rotation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.comp-logo-ps {
    position: absolute;
    animation-name: rotation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 4.5s;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg) translate(120px) rotate(-0deg);
    }
    100% {
        transform: rotate(360deg) translate(120px) rotate(-360deg);
    }
    
}
/*-animation logo*/
/*competences*/

/*projets*/
.projets {
    width: 100%;
    height: 800px;
    
    margin-bottom: 150px;
    overflow: hidden;
}
.box {
    position: relative;
    width: 1390px;
    height: 800px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.blanc {
    background: #ede6e9;
    height: 800px;
    width: 20px;
    z-index: 1;
}
.blanc-large {
 width: 50px;
 height: 800px;
 background: #ede6e9;
 z-index: 1;
}
.projets-content {
    width: 150px;
    background: #3f9867;
    height: 800px;
    transition: 1s;
    border: solid 1px firebrick;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.img-projet {
    width: auto;
    height: 800px;
    position: relative;
    
}
.img-htlm {
    width: 800px;
    height: auto;
    overflow: auto;
}
.projets-content:hover {
    height: 800px;
    width: 1000px;
}
.titre {
    box-sizing: content-box;
    position: absolute;
    top: 50%px;
    left: 40px;
    width: 450px;
    z-index: 0;
}
/*-content*/
.grid {
    display: grid;
    grid-template-columns: 445px 443px;
    grid-template-rows: 353px 445px;
    position: absolute;
    overflow: hidden;
}
.grid1 {
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 800px;
    opacity: 0%;
    transition: 400ms;
}
.grid1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.grid1 img {
    width: 50px;
    height: 50px;
    opacity: 60%;
}
.grid2 {
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0%;
    transition: 1.5s;
}
.grid2-white {
    background: rgba(255, 255, 255, 0.8);
}
.grid3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 20px;
    padding: 15px 10px;
    transition: 1s;
}
.grid3 h1 {
    font-size: 60px;
    transform: translate(-620px, 170px) rotate(-90deg);
    transition: 1s;
}
.bar-logo {
    opacity: 0%;
    transition: 1s;
}
.bar {
    width: 200px;
    height: 15px;
    display: grid;
    border-radius: 50px;
    overflow: hidden;
    opacity: 0%;
    transition: 1s;
}
.bar p {
    font-size: 14px;
    text-align: center;
}
.bar-html {
    background: #e44f26;
}
.bar-css {
    background: #1572b6;
}
.bar-js {
    background: #d6ba32;
}
/*--content %bar*/
.projet-clipboard .bar {
    grid-template-columns: 48.5% 51.5% 0%;
}
.projet-skillex .bar {
    grid-template-columns: 52.3% 47.7% 0%;
}
.projet-portfolio .bar {
    grid-template-columns: 67% 33% 0%;
}
.projet-cryptohype .bar {
    grid-template-columns: 57.3% 42.7% 0%;
}
/*--content %bar*/
.grid1:hover {
    opacity: 100%;
}

.projets-content:hover .grid3 {
    transform: none;
    background: rgba(255, 255, 255, 0.8);
}
.projets-content:hover .grid3 h1 {
    transform: none;
}
.projets-content:hover .bar-logo {
    opacity: 100%;
}
.projets-content:hover .bar {
    opacity: 100%;
}
.projets-content:hover .grid2 {
    opacity: 100%;
}
/*-content*/
/*projets*/

/*footer*/
footer {
    width: 100%;
    padding: 0 50px;
    background-color: #2F8D5F;
    height: 230px;
}
.footer-item {
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer li {
    width: 464.8px;
    height: 172px;
}
/*footer cta*/
.footer-carte{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .carte {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 10px;
    width: 464.8px;
    height: 172px;
    display: flex;
    justify-content: space-between;
}
.titre-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-carte-logo {
    background-color: #FFBBAC;
    border-radius: 5px;
    width: 268px;
    height: 49.6px;
    padding: 0 32px;
    margin: 0 0 8px 10.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cta-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .carte-titre h2 {
    margin: 30px 0 0 0;
}
footer .carte-titre p {
    font-size: 20px;
    font-weight: 500;
    margin: 3.2px 0;
}
footer .carte-logo {
    margin: 0 0 8px 10.4px;
}
/*footer cta*/
.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-contact h2 {
    margin-bottom: 10px;
}
.footer-contact:first-child p {
    margin-bottom: 20px;
}
/*footer*/


/*addaptive_responsive*/
@media screen and (max-width: 1440px) {
    .cadre {
        width: 100vw;
    }
    /*projets*/
    .projets {
        height: fit-content;
    }
    .box {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        gap: 50px;
        width: 100%;
    }
    .projets-content {
        width: 330px;
    }
    .blanc, .blanc-large {
        position: absolute;
        opacity: 0%;
        z-index: -1;
    }
    .titre {
        position: relative;
    }
    .projets-content:hover {
        width: 330px;
    }
    .grid {
        grid-template-columns: 328px;
    }
    .grid1 {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        height: 100%;
        opacity: 100%;
    }
    .grid2, .grid4 {
        position: absolute;
        z-index: -1;
    }
    .projets-content:hover .grid2 {
        opacity: 0%;
    }
    .grid3 {
        border-bottom-left-radius: 20px;
        background: rgba(255, 255, 255, 0.8);
    }
    .grid3 h1 {
        transform: none;
    }
    .bar, .bar-logo {
        opacity: 100%;
    }
    .box {
        margin: 0;
    }
    /*projets*/
}
@media screen and (max-width: 1355px) {

    /*acceuil*/
    .moi {
        opacity: 0%;
        transition: 1s;
    }
    .accueil {
        width: 100vw;
        padding: 0;
        height: 48.5vw;
    }
    /*-parallax*/
    .photo {
        height: 48.5vw;
    }
    .parallax {
        position: absolute;
    }

    .ciel, .fumer, .vert2 {
        width: 100vw;
    }
    .soleil {
        width: 80vw;
        top: 6.5vw;
        left: 9.5vw;
    }
    .oiseaux {
        width: 85vw;
        top: 3.5vw;
        left: 4.5vw;
    }
    .oiseaux2 {
        width: 85vw;
        top: 3.5vw;
        left: 6vw;
    }
    .montagne1 {
        width: 70vw;
        top: 6vw;
        left: 10vw;
    }
    .montagne2 {
        width: 80vw;
        top: 6vw;
        left: 8.5vw;
    }
    .vert {
        width: 78vw;
        top: 5.5vw;
        left: 12vw; 
    }
    /*-parallax*/
    .accueil-txt h1, .accueil-txt h2 {
        top: unset;
        left: unset;
        margin-bottom: 5vw;
        transition: 1s;
    }
    /*acceuil*/
    /*competences*/
    .competences-content {
        gap: 230px;
    }
    /*competences*/
}

@media screen and (max-width: 1025px) {

    /*accueil*/
    .photo {
        height: 47.8vw;
    }
    .accueil p {
        font-size: 1.8vw;
    }
    .accueil h1 {
        font-size: 6vw;
    }
    .accueil h2 {
        font-size: 2.8vw;
    }
    .accueil h3 {
        font-size: 1.8vw;
    }
    /*accueil*/

    /*competences*/
    .competences-content {
        flex-direction: column;
        gap: 20px;
    }
    /*competences*/

    

    /*footer*/
    footer {
        height: 700px;
    }
    .footer-item {
        flex-direction: column;
        height: 700px;
        justify-content: space-around;
    }
    .footer-contact {
        text-align: center;
    }
    /*footer*/
}

@media screen and (max-width: 830px) {

    /*nav*/
    nav {
        height: unset;
        flex-direction: column;
        gap: 10px;
    }
    /*nav*/

    /*cta*/
    .carte {
        width: 300px;
        height: fit-content;
    }
    .carte-titre p {
        font-size: 12px;
    }
    .carte-titre h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    .titre-logo {
        width: 50vw;
    }
    .carte-img {
        width: 110px;
        height: 110px;
    }
    .carte-logo {
        width: 180px;
        margin-left: 6px;
        height: fit-content;
    }
    .carte-logo img {
        width: 40px;
        height: auto;
    }
    /*cta*/

    /*presentation*/
    .presentation {
        padding: 0 50px;
        margin-bottom: 100px;
        text-align: center;
        width: 100vw;
    }
    /*presentation*/
    
    /*competences*/
    .liste h3 {
        font-size: 16px;
    }
    .competences-bar2 {
        width: 180px;
    }
    /*competences*/

    /*projets*/
    .titre {
        left: 0;
        width: 300px;
    }
    .titre h1 {
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
    }
    .titre p {
        text-align: center;
    }
    /*projets*/
    /*footer*/
    footer .carte {
        width: 300px;
        height: fit-content;
    }
    footer .carte-titre p {
        font-size: 12px;
    }
    footer .carte-titre h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    footer .titre-logo {
        width: 50vw;
    }
    footer .carte-img {
        width: 110px;
        height: 110px;
    }
    .footer-carte-logo {
        width: 180px;
    }
    /*footer*/
}
/*addaptive_responsive*/