/*Reset*/
*,body,li,a,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
/*Reset*/

/*Font*/
p {
    font-family: 'Comfortaa', cursive;
    font-size: ;
    font-weight: 400;
}
h1 {
    font-family: 'Comfortaa', cursive;
    font-size: ;
    font-weight: 700;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: ;
    font-weight: 500;
}
h3 {
    font-family: 'Comfortaa', cursive;
    font-size: ;
    font-weight: 500;
}
/*Font*/

